/* Campus dropdown styles */
.campus-dropdown {
    position: relative;
    width: 100%;
}

.dropdown-button {
    width: 100%;
    text-align: left;
    padding: 8px 0;
    background: none;
    border: none;
    color: #495057;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;  /* Match the font size of other inputs */
}

.dropdown-button .arrow {
    font-size: 0.8em;
    transition: transform 0.2s ease;
    margin-left: 8px;  /* Add some space between text and arrow */
    color: #495057;  /* Match the text color */
}

/* Dark mode styles for the arrow */


.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    margin-top: 4px;
}

.dropdown-list.show {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 8px 16px;
    color: #495057;
    text-decoration: none;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #B41231;
    color: #ffffff;
}